@use 'base/mixins' as m;
@use 'base/variables' as *;

.create{
    .create-grid{
        @include m.tablet { 
            @include m.grid(2,4rem);
            align-items: center;
         }
    }
    .create-info{
        h2{
            @include m.title($secondColor, $mainColor);
        }
        p{
            font-size: 1.8rem;
            @include m.tablet { 
                font-size:2rem;
             }
        }
    }
}