@use 'base/mixins' as m;
@use 'base/variables' as *;

.earn{
    background-color: $mainColor;

    .earn-grid{
        @include m.tablet { 
            @include m.grid(5,4rem);
            align-items:center;
         }
        }
        .earn-info{
            grid-column: 1/4;
            h2{
                @include m.title($secondColor,$whiteColor);
            }
            p{
                font-size: 1.8rem;
                @include m.tablet { 
                    font-size:2rem;
                 }
            }
        }
        .earn-image{
            grid-column: 4/6;
        }
    .earn-image{
        transition-duration: .3s;
        transition-property: transform;
        &:hover{
            transform: rotate(6deg) scale(1.1);
        }
    }
}