@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
//FUENTES
$fontMain: 'Poppins', sans-serif;

//MEDIA QUERIES
$telefono : 480px;
$tablet : 769px;
$tabletMax:769px;
$desktop: 1024px;
//COLORS;
$mainColor: #84d9bc;
$secondColor: #313c4e;
$opacityColor: rgb( 57 70 89 /.7);
$whiteColor: #ffffff;
$blackColor:#000000;